<section class="mt-5" style="    display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <div class="">

        {{#if response}}
        {{#each response}}

        <div class="body-div">
            <div class="" style="    display: flex;justify-content: space-between;">
                <a class="body-div-a-tag" style="color: black;text-decoration:none;" href="/admin/viewApplications/{{this._service_type_}}">{{this.name}}</a> 
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>null...</p>
        {{/if}} 
    </div>
</section>



<style>
    .body-div{
        width: 300px;
    border: 1px solid #bbb2b2;
    padding: 8px 25px;
    margin: 8px;
    }
    .body-div-a-tag{
        text-decoration: none;
        color: black;
    }
</style>


