<div class="container mt-5">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Application ID</th>
      <th scope="col">Type of service</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each response}}
    <tr class="counter">
      <th id="count" scope="row"><span></span></th>
      <td>{{this.applicant_name}}</td>
      <td>{{this.status}}</td>
      <td>{{this.applicationID}}</td>
      <td>{{this.form_type}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<style>
      
  tr span::before {
     counter-increment: my-sec-counter;
    content: " " counter(my-sec-counter) ". ";
  } 
</style>