<section id="home-section">
  <div class="container" id="container">
    <h3 class="mt-4">Services</h3>
    <div class="row home-row" id="results">
      {{#each response.data}}
       <div class="card-div m-4" onclick="viewPage('/services/{{this._service_type_}}')">
        <a href="" style="" class="card-div-icons">
          <i style="color: black;" class="fa-solid fa-building"></i>
        </a>
        <p class="card-div-p-tag">{{name}}</p>
      </div>
      {{/each}}
      {{!-- <div class="card-div m-4" onclick="viewPage('/services/building')">
        <a href="" style="" class="card-div-icons">
          <i style="color: black;" class="fa-solid fa-building"></i>
        </a>
        <p class="card-div-p-tag">Building permit</p>
      </div>

      <div class="card-div m-4" onclick="viewPage('/services/road')">
        <a href="" style="" class="card-div-icons">
          <i style="color: black;" class="fa-sharp fa-solid fa-road"></i>
        </a>
        <p class="card-div-p-tag">Road application</p>
      </div>

      <div class="card-div m-4" onclick="viewPage('/services/street')">
        <a href="" style="" class="card-div-icons">
          <i class="fa-solid fa-lightbulb"></i>
        </a>
        <p class="card-div-p-tag">Street lights</p>
      </div>

      <div class="card-div m-4" onclick="viewPage('/services/property-tax')">
        <a href="" style="" class="card-div-icons">
          <i style="color: black;" class="fa-regular fa-compass"></i>
        </a>
        <p class="card-div-p-tag">Proprty tax</p>
      </div>

      <div class="card-div m-4" onclick="viewPage('/services/water')">
        <a href="" style="" class="card-div-icons">
          <i class="fa-solid fa-water"></i>
        </a>
        <p class="card-div-p-tag">Water supplay</p>
      </div>

      <div
        class="card-div m-4"
        onclick="viewPage('/services/birth-certificates')"
      >
        <a href="" style="" class="card-div-icons">
          <i class="fa-solid fa-file"></i>
        </a>
        <p class="card-div-p-tag">Birth certificate</p>
      </div>

      <div
        class="card-div m-4"
        onclick="viewPage('/services/death-certificates')"
      >
        <a href="" style="" class="card-div-icons">
          <i class="fa-solid fa-sheet-plastic"></i>
        </a>
        <p class="card-div-p-tag">Death certificate</p>
      </div> --}}
    </div>
  </div>
</section>

<style>
  .card-div:hover { transform: scale(1.01); border: 1px solid black; } .card-div
  { width: 320px; background-color: blue; border-radius: 7px; box-shadow: 9px
  5px 18px -8px #4933ff; height: 100px; } .card-div-p-tag{ color: white; left:
  96px; position: absolute; top: 55px; font-size: 24px; } .card-div-icons{
  color: black; font-size: 4rem; position: absolute; top: -31px; right: 106px; }
</style>